/catalog-v001.xml

.DS_Store
dron-full-WH.owl
.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/dron.owl
src/ontology/dron.obo
src/ontology/dron.json
src/ontology/dron-base.*
src/ontology/dron-basic.*
src/ontology/dron-full.*
src/ontology/dron-simple.*
src/ontology/dron-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-dron-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
DrOn builder source code/
DrOn builder source code.zip
reports/
.travis.yml
src/ontology/components/dron-rxnorm.owl
src/ontology/components/dron-ndc.owl
src/ontology/components/dron-ingredient.owl
/dron.json
/dron.obo
/dron.owl
dron-base.*
dron-full.*

src/ontology/archive
src/patterns
dron-lite.json
dron-lite.obo
dron-lite.owl
/site